section {
    width: 80%;
    height: 800px;
    margin: 0 auto;
    background-image: url("https://images.unsplash.com/photo-1768893888828-52288984228c?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwzfHx8ZW58MHx8fHx8");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
    color: white;
    padding-top: 300px;
    font-size: 40px;
    text-shadow: 2px 2px 4px #000000;
}