body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: #003949;
    height: auto;
    width: auto;
    margin: 20px;
    border: 5px solid #003949;
}