body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

.container {
    background-color: #003949;
    /* height: 500px; */
    width: 90%;
    margin: 0 auto;
    border: 5px solid #003949;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container div {
    width: 200px;
    height: 200px;
    flex-basis: 200px;
    flex-grow: 1;
}