body {
    font-family: 'roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #151b29;
}

button {
    background: none;
    color: #ffa260;
    border: 2px solid #ffa260;
    padding: 1em 2em;
    font-size: 1em;
}

button:hover {
    border-color: #f1ff5c;
}