body {
    font-family: 'Open Sans', sans-serif;
    background-color: antiquewhite;
}

h1 {
    font-size: 6em;
    text-align: center;
}

nav {
    font-size: 1.5em;
}

ul,
li {
    display: inline;
    padding: 0;
    margin: 0;
}

@media (max-width: 600px) {
    body {
        background-color: lightblue;
    }

}