body {
    font-family: 'Open Sans', sans-serif;
    background-color: antiquewhite;
}

h1 {
    font-size: 6em;
    text-align: center;
}

nav {
    display: flex;
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

ul {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

ul,
li {
    list-style: none;
    /* display: inline; */
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    h1 {
        font-size: 4em;
    }

    nav {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 3em;
    }
}