img {
    width: 30%;
    margin: 1.66666%;
}

nav {
    text-transform: uppercase;
    padding-top: 10px;
    width: 30%;
    padding-bottom: 10px;
    border-bottom: 2px solid #f1f1f1;
    margin-left: 1.66666%;
}