body {
    font-family: Arial, sans-serif;
    background-color: #32345f;
    margin: 0;
    padding: 0;
}

div.header {
    text-align: center;
    padding: 5px;
    background-color: #999dd6;
}

#title {
    font-size: 2.5em;
    color: white;
    margin: 0;
}

#description {
    text-align: center;
    font-size: 23px;
    margin-bottom: 20px;
    color: white;

}

form {

    padding: 20px;
    border-radius: 5px;
    border-style: solid;
    max-width: 600px;
    margin: auto;
    text-align: left;
}

button {
    background-color: #535783;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #7f7fc1;
}

.learn {
    font-size: 20px;
    margin-top: 20px;
}

label {
    font-size: 18px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 3px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0.9;
}

input[type=text],
input[type=email],
input[type=number] {

    padding: 10px;
    margin: 10px 0 20px 0;
    border: 3px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0.9;
}


select {

    padding: 10px;
    margin: 10px 0 20px 0;
    border: 3px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0.9;
}