body {
    font-family: Arial, sans-serif;
    background-color: #32345f;
    margin: 0;
    padding: 0;
}

div.header {
    text-align: center;
    padding: 5px;
    background-color: #999dd6;
}

#title {
    font-size: 2.5em;
    color: white;
    margin: 0;
}

#description {
    text-align: center;
    font-size: 23px;
    margin-bottom: 20px;
    color: white;

}

form {
    background-color: #e6e6fa;
    padding: 20px;
    border-radius: 5px;
    border-style: solid;
    max-width: 600px;
    margin: auto;
    text-align: left;
}

button {
    background-color: #535783;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

}

button:opacity {
    opacity: 100%;
}

button:hover {
    background-color: #7f7fc1;
}

.learn {
    font-size: 20px;
    margin-top: 20px;
}

label {
    font-size: 18px;
}

#survey-form {
    margin-top: 20px;
    opacity: 100%;
}