body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    background-color: rgba(26, 50, 99, 0.5);
}

div.header {
    text-align: center;
    padding: 5px;
    background-color: #6165a2;

}

#title {
    font-size: 2.5em;
    color: white;
    margin: 0;
    padding: 10px;
}

#description {
    text-align: center;
    font-size: 23px;
    margin-bottom: 20px;
    color: white;

}

form {
    background-color: bisque;
    padding: 20px;
    border: 5px solid #000000;
    border-radius: 10px;
    max-width: 600px;
    margin: auto;
    text-align: left;
}

button {
    background-color: #6165a2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s, background-color 0.2s;
}

/* 
.img {
    width: 50%;
    height: 200px;
    background-image: url("C:\\Users\\91919\\OneDrive\\Desktop\\html-css\\frontend-mini-projects\\landing-page\\images\\laptop.jpg");
    background-size: cover;
    background-position: center;
} */


button:hover {
    background-color: #7f7fc1;
    transform: scale(1.2);
}

.learn {

    font-size: 20px;
    margin-top: 20px;
}

label {
    font-size: 18px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 3px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0.9;
}

input[type=text],
input[type=email] {
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 3px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0.9;
}

input[type=number] {
    width: 27%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 3px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0.9;
}

select {

    padding: 10px;
    margin: 10px 0 20px 0;
    border: 3px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    opacity: 0.9;
}

#dropdown {
    width: auto;
}