div.header {
    text-align: center;
    padding: 5px;
    background-color: #999dd6;
}

#title {
    font-size: 2.5em;
    color: white;
    margin: 0;
}

#description {
    text-align: center;
    font-size: 23px;
    margin-bottom: 20px;
}

form {
    background-color: #e6e6fa;
    padding: 20px;
    border-radius: 5px;
    max-width: 600px;
    margin: auto;
}

button {
    background-color: #999dd6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #7f7fc1;
}

.learn {
    font-size: 20px;
    margin-top: 20px;
}

label {
    font-size: 18px;
}