div.header {
    text-align: center;
    padding: 5px;
    background-color: #999dd6;
}

#title {
    font-size: 2.5em;
    color: white;
    margin: 0;
}

#description {
    text-align: center;
    font-size: 23px;
    margin-bottom: 20px;
}