h1 {
    text-align: center;
    font-weight: normal;
    text-decoration: underline rgb(0, 0, 0) wavy;
    letter-spacing: 10px;
    font-family: monospace;
}

p {
    line-height: normal;
    font-family: papyrus, sans-serif;
    font-weight: bold;

}

body {
    background-color: lightblue;
}