li {
    color: blue;
}

.done {
    color: grey;
}

#clear:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
}

li a {
    color: grey;
}

button:hover {
    background-color: green;
    color: white;
}